extends layout

block content
    link(rel='stylesheet' href='/css/pages/main.css')
    div.window#main(style="width:320px" draggable=true hidden=true)
        div.title-bar
            div.title-bar-text Main
            div.title-bar-controls
                button(aria-label="Close" disabled=true)
        div.window-body.has-space.no-scrollbar
            section(class="tabs")
                menu(role="tablist", aria-label="Tabs Template")
                    button(role="tab", aria-controls="welcomeTab", aria-selected="true") Welcome
                    button(role="tab", aria-controls="settingTab") Settings
                    button(role="tab", aria-controls="windowsTab") Windows
                article#welcomeTab(role="tabpanel") Welcome to #{title}
                article#settingTab(role="tabpanel", hidden=true)
                    fieldset
                        legend R18(G)
                        input#r18.field-row(type='checkbox')
                        label(for='r18') Enable R18
                        input#r18G.field-row(type='checkbox')
                        label(for='r18G') Enable R18G
                    fieldset
                        legend Blur
                        fieldset#blurR18Div
                            input#blurR18(type='checkbox' checked=true)
                            label(for='blurR18') For R18-Image Enable Blur
                            fieldset.range
                                div.field-row
                                    label(for='blurR18Range') Low
                                    input.blurToggle#blurR18Range(type='range' min=1 max=100 value=10)
                                    label High
                                div.preview
                                    div.btn
                                        button.field-row Click Me To preview blur
                                    div.img(hidden=true)
                                        img.field-row(src='/img/preview/107066503_p0.png')
                        fieldset#blurR18GDiv
                            input#blurR18G(type='checkbox' checked=true)
                            label(for='blurR18G') For R18G-Image Enable Blur
                            fieldset.range
                                div.field-row
                                    label Low
                                    input.blurToggle#blurR18GRange(type='range' min=1 max=100 value=10)
                                    label High
                                div.preview
                                    div.btn
                                        button.field-row Click Me To preview blur
                                    div.img(hidden=true)
                                        img.field-row(src='/img/preview/107066503_p0.png')
                    fieldset
                        legend Tag
                        div
                            input#tagTranslate(type='checkbox' checked=true)
                            label(for='tagTranslate') Show translated tag
                        div
                            label Language&nbsp;&nbsp;
                            select#languageSelect
                                option en-US
                                option zh-CN
                                //TODO 使选择框更加符合win7样式
                article#windowsTab(role="tabpanel", hidden=true)
                    fieldset
                        legend Status
                        div#windowsStatusData
    div.window#tutorial(style="width:320px" draggable=true hidden=true)
        div.title-bar
            div.title-bar-text Tutorial
            div.title-bar-controls
                button(aria-label="Close")
        div.window-body.has-space
            fieldset
                legend Tag Style Preview
                div.tags
                    div.tag.r18g
                        label.untranslated #R18G
                    div.tag.r18
                        label.untranslated #R18
                    div.tag
                        label.untranslated #Normal
                        label.translated subTag
    div.window#viewer(style="width:500px" draggable=true hidden=true)
        div.title-bar
            div.title-bar-text Pixiv Image Viewer
            div.title-bar-controls
                //button(aria-label='Maximize')
                button(aria-label="Close")
        div.window-body.has-space.no-scrollbar
            fieldset
                legend Illustration Info
                fieldset
                    legend Illustration
                    div#illustrationDiv
                        div.img
                            img(src='/img/status/No Image.png')
                            //img(src='https://i.pixiv.re/img-master/img/2023/07/13/08/09/22/109868720_p0_master1200.jpg' style='height: 100%;width: 100%;object-fit: cover;')
                        div.data
                            div.input
                                label(for='pidInput') Input PID&nbsp;&nbsp;
                                input#pidInput(type='text' pattern='^[0-9]*$' required=true)
                                button#sendNewReq Get Illustration
                            div
                                label(for='pageSelect') Select Illustration Page&nbsp;&nbsp;
                                select#pageSelect
                                    option(disabled=true) No pages
                fieldset
                    legend Tag
                    div.tags#tagsDisplayDiv
                        div.tag
                            label.untranslated #EMPTY
    script(src='/js/pages/main/setting.js')
    script(src='/js/pages/main/windowStatus.js')